<!DOCTYPE HTML>
<html lang="en">
<head>

	<title>Ngoc Thao LY</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	<!-- Stylesheets -->
	<link href="static/common-css/bootstrap.css" rel="stylesheet">
	<link href="static/common-css/ionicons.css" rel="stylesheet">
	<link href="static/common-css/fluidbox.min.css" rel="stylesheet">
	<link href="static/01-cv-portfolio/css/styles.css" rel="stylesheet">
	<link href="static/01-cv-portfolio/css/responsive.css" rel="stylesheet">
</head>

<header>
  <div class="container">
    <div class="heading-wrapper">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="info">
            <i class="icon ion-ios-location-outline"></i>
            <div class="right-area">
              <h5>78000 Versailles</h5>
              <h5>Parc de CLagny</h5>
            </div><!-- right-area -->
          </div><!-- info -->
        </div><!-- col-sm-4 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="info">
            <i class="icon ion-ios-telephone-outline"></i>
            <div class="right-area">
              <h5>0769937053</h5>
              <h6>FRANCE</h6>
            </div><!-- right-area -->
          </div><!-- info -->
        </div><!-- col-sm-4 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="info">
            <i class="icon ion-ios-chatboxes-outline"></i>
            <div class="right-area">
              <h5>lythao03@gmail.com</h5>
            </div><!-- right-area -->
          </div><!-- info -->
        </div><!-- col-sm-4 -->
      </div><!-- row -->
    </div><!-- heading-wrapper -->
  </div><!-- container -->
</header>

<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-8">
        <div class="intro">
          <div class="profile-img"><img src="static/thao1.png" alt=""></div>
          <h2><b>Ngoc Thao LY</b></h2>
          <h4 class="font-yellow">Digital Marketing & Data Science</h4>
          <ul class="information margin-tb-30">
            <li><b>PHONE : </b>+337 69 93 70 53</li>
            <li><b>EMAIL : </b>lythao03@gmail.com</li>

          </ul>

        </div><!-- intro -->
      </div><!-- col-sm-8 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- intro-section -->
</html>

  {% block content %}{% endblock %}
